@import url('./App.css');


.botao_topo {
    width: 28rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.botao_topo .icone {
    font-size: 2rem;
    padding-right: 1rem;
    color: var(--ciano-default-color);
    animation: UpArrow 1s infinite;
}