@import url('./App.css');


.section_tech .titulo_tech {
    text-align: center;
    font-size: 3rem;
    color: var(--ciano-default-color);
    margin-bottom: 5rem;
}

.section_tech .container_tech {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
