@import url('./App.css');

.section_destaque {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: var(--blue-dark-color);
    padding: 3rem 0;
    margin: 7rem 0;
}
