@import url('./App.css');


.footer {
    background-color: var(--black-100);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .titulo {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
}